@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body {
	background: #05c2fc;
	font-family: 'Courier New', Courier, monospace;
}

.menu {
	width: 900px;
	margin: 0 auto;
}
	
nav{
	max-width: 900px;
	margin: auto;
	background-color: #f8f404;
	font-size: 20px;
	margin-top: 40px;
}

nav{
	float: left;
}

nav ul li{
	list-style: none;
	margin-left: 25px;
	padding: 25px 0;
	float: left;
}

nav ul li a {
	text-decoration: none;
	color: #444;
	font-weight: bold;
}
.home-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
 .home-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.home-horizontal > li:hover{
	background-color: red;

}

.home-vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.home-horizonta li:hover .home-vertical {
	display: block;
}
.home-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.home-vertical li:hover {
	background-color: black;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;
}
